# Environments
.env

# AG skills
.agent/*

# Local adk logs
*/.adk/*
adk_web_log.txt
adk_web_log*.txt

# Local VSCode settings
.vscode/*
agent.md

# Logs
*.log
server.log

# Virtual Environment
venv/
env/
.venv/

# Python / General
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Output Data / Pipelines
*.jsonl
cyber_tuning_pipeline.json
pipeline_root/
