# GCP config
GCP_PROJECT_ID=your-gcp-project-id
GCP_LOCATION=global
GCS_BUCKET_NAME=your-gcs-bucket-name
GCS_THUMBNAIL_FOLDER=physna_thumbnails

# Models
ADK_AGENT_MODEL=gemini-2.5-flash # agent orchestration model
BQ_GEMINI_MODEL=gemini-2.5-flash # for synthetic data generation
EMBEDDING_MODEL=multimodalembedding@001 # for image embeddings

# BigQuery config
USE_BQ_VECTOR_SEARCH=true
BQ_PROJECT_ID=your-gcp-project-id
BQ_REGION=US
BQ_DATASET_ID=engineering_parts_catalog
BQ_METADATA_TABLE=master_part_list_enriched
BQ_OBJECT_TABLE=parts_thumbnails_table
BQ_MODEL_NAME=gemini
BQ_CONNECTION_ID=vertex_ai

# Agentspace config
AGENT_STAGING_BUCKET=gs://your-gcs-staging
AGENTSPACE_APP_ID=app-id_1234567
AGENTSPACE_LOCATION=global
AGENT_ENGINE_RESOURCE_NAME=projects/{project_number}/locations/{regions}/reasoningEngines/{engine_id}
AGENT_DISPLAY_NAME=Part Research Agent
AGENT_ICON_URI=https://public.icon.url

# Physna config (Replace with your specific credentials and IDs)
PHYSNA_TENANT_ID=YOUR_PHYSNA_TENANT_UUID
PHYSNA_CLIENT_ID=YOUR_PHYSNA_CLIENT_ID
PHYSNA_CLIENT_SECRET=YOUR_PHYSNA_CLIENT_SECRET
AUTH_URL=https://physna-app-url.com/oauth2/token
EXAMPLE_PART_ID=example_part_uuid_1